<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.valuesport">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permissions for user's hardware gps and fine location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UseCouponActivity" />
        <activity
            android:name=".BuyDialogActivity"
            android:label="@string/title_buydialog"
            android:parentActivityName=".BuyCouponActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valuesport.BuyCouponActivity" />
        </activity>
        <activity
            android:name=".BuyCouponActivity"
            android:label="@string/title_store"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WalletActivity"
            android:label="@string/title_activity_wallet"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.valuesport.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>